html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 10px;
    padding: 5px;
}

.topbar {
	width: 100%;
	float: left;
	margin: 0 0 1.5em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align: center;
}

.topbar li {
	display: inline-block;
	margin: 0;
	padding: 0 0.5em;
	border-right: 1px solid;
	color: #069;
	text-align:center;
}

.logo {
	height: 17%;
	width: 17%;
}

/* Unclear if this below does anything? */
.topbar #hoover li {
	color: #c00;
	background-color: #fff;
}

.content {
	margin-left: 0px;
	vertical-align: bottom;
	border-top: 1px dashed #8c8b8b;
	border-color: #A9D0F5;

}

.content div {
	margin-right: auto;
	display: block;
	position: relative;
	padding-top: 20px;
	margin-left: 10px;
}

.user {
	color: #58ACFA;
	float: left;
	padding-right: 15px;
	font-weight: bold;
}

.timestamp {
	overflow: hidden;
}

.tweet {
	display: block;
	margin-bottom: 30px;
	font-size: 130%;
}

#more-tweets {
	background-color: #D8D8D8;
}

#back-button {
	background-color: grey;
}

.filtered {

}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: block;
}

p#footer-text {
	padding-top: 10px;
	text-align:center;
}

